.table {
	display: flex;
	flex-flow: column nowrap;
	border: 1px solid gray;
	border-radius: 20px;
	overflow: auto;
	/* height: 100%; // for fixed table height */
}

.row {
	display: flex;
	margin: 2px 5px;
}

.heading {
	display: flex;
	font-weight: bold;
	border-bottom: 1px solid gray;
	padding: 8px 0;
}

.cell {
	display: flex;
	flex: 1;
	align-items: center;
	padding: 10px 30px;
}

.rows {
	overflow: auto;
}

.highlighted {
	background-color: gray;
	margin: 2px 5px;
	border-radius: 10px;
	color: white;
}
